pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WWI_Std_sql",
						"type": "DatasetReference",
						"parameters": {
							"sourceSchema": "sales",
							"TableName": "orders",
							"azureSQLdomainName": "mysqlservertxbui.database.windows.net",
							"DBName": "WideWorldImporters-Standard",
							"UserName": "azureuser",
							"Password": "Thithuy1!"
						}
					}
				}
			},
			{
				"name": "For Each File Name",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"isSequential": false,
					"batchCount": 1,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "WWI_Std_sql",
									"type": "DatasetReference",
									"parameters": {
										"sourceSchema": {
											"value": "@item()",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item()",
											"type": "Expression"
										},
										"azureSQLdomainName": "mysqlservertxbui.database.windows.net",
										"DBName": "WideWorldImporters-Standard",
										"UserName": "azureuser",
										"Password": "Thithuy1!"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "WWI_Std_sql",
									"type": "DatasetReference",
									"parameters": {
										"sourceSchema": {
											"value": "@item()",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item()",
											"type": "Expression"
										},
										"azureSQLdomainName": "mysqlservertxbui.database.windows.net",
										"DBName": "WideWorldImporters-Standard",
										"UserName": "azureuser",
										"Password": "Thithuy1!"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"sourceShema": {
				"type": "string"
			},
			"sourceTableName": {
				"type": "string"
			},
			"SinkSchema": {
				"type": "string"
			},
			"SinkTableName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}